{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>

  <p><strong>Token:</strong> <span id="txt_balance"></span></p>
  <button id="btn_balance" class="btn btn-success">Show Balance</button>

{% endblock %}
