<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/vendor/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{% block body %}{% endblock %}
<script type="text/javascript" src="/javascripts/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/library/socketclient.js"></script>
<script type="text/javascript" src="/microraiden/microraiden.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>
